

.cadastro-container__form{
    width: 60%;
    height: 70%;
    color: #CD8D00;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

.cadastro-container__form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.titulo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    color: #CD8D00;
    padding-top: 1rem;
    gap: 1rem;
}

.cadastro-container__form__itens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 0;
    column-gap: 3rem;
}

.cadastro-container__form__itens .cadastro-container__form__input{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.cadastro-container__form__itens .cadastro-container__form__input input{
    background-color: #CD8D00;
    border: 0.2rem solid #CD8D00;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.cadastro-container__form button{
    background-color: #CD8D00;
    border: 0.2rem solid #CD8D00;
    color: #E8D3B6;
    padding: 0.5rem;
    align-self: flex-end;
    border-radius: 1rem;
    cursor: pointer;
}

.cadastro-container__form p{
    margin: 2rem 0 0.5rem 0;
} 


