.login{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h2{
    font-weight: 700;
    font-size: 2rem;
    color: #C24616;
    margin-bottom: 3rem;
}

.login h6 {
    color:#673024;
    font-size: 1.2rem;
    font-weight: 555;
    margin-bottom: 2rem;
}

.login p{
    margin: 1rem 0 1rem 0;
    color: #fff;
    font-weight: 600;
}

input{
    display: flex;
}