/* ************************** padronização/ estilização CENTRO DA PÁGINA ************************** */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex; /* New line for centering */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh; /* Set body to viewport height */
    
  }

.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grid-container{
    margin-top: 27vh;
}

.titulo-destaque h2{
    font-size: 2rem;
    font-weight: 600;
    color: #C24616;
    text-align: center;
    margin-top: 2rem;
}
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    width: fit-content; /* Adjust width as needed */
    padding: 20px; /* Add some padding */
    position: relative;
    top: 1rem;
    margin-bottom: 5rem;
   
  }
  
  .card {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0;  /* Remove margin for grid layout */
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50%;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card:hover img {
    opacity: 0.7;
  }
  
  .card-container .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .card .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.343);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
  }

  .texto {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center ;
}

/* Adicionei a regra para fazer o texto aparecer quando o card é hover */
.card:hover .texto {
    opacity: 1;
}



.mais-informacoes{
  color: black;
  margin:1rem 1rem 10rem 2rem;
}

.container-informacoes{
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #b54e259e, #c75426, #cd8c00ca);
  padding: 2rem;
  margin-bottom: 8rem;
  height: 25rem;
}

.container-informacoes h6{
  font-size: 1.2rem;
  font-weight: 600;
  color: #E8D3B6;
  padding: 1rem;
}

.container-informacoes p{
  color: #fff;
  padding: 1rem;
}

.newsletter{
  justify-content: center;
  align-items: center;
  text-align: center;
}

button{
  border-radius: 10rem;
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #673024;
  color: #fff;
  border: 3px solid rgb(255, 255, 255);
  margin: 20px;
}

button:hover{
  background-color: #C24616;
  cursor: pointer;
  border: 0.3rem dashed rgb(255, 255, 255);
  font-size: 1rem;
  transition: font-size 0.2s ease-in-out;
  color: rgb(255, 255, 255);
  border-radius: 3rem;
}

input{
  width: 20rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  color: #E8D3B6;
  background-color: #c2471691;
  margin: 0.5rem;
  border: #673024;
}

.contato-itens{
  display: flex;
  align-items: center;
}

.contato-itens img{
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 1rem;
}

