<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RayBelle Charm</title>
    <!-- importando o arquivo css da página -->
    <link rel="stylesheet" href="/static/layout.css">
    {% block css %}
    {% endblock %}
    <!-- importanto os ícones do bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <section class="frete">
        <div class="frete-gratis">
            <h6>FRETE GRÁTIS para pedidos acima de R$ 399,00. </h6>
        </div>
    </section>
    
    <header>
        <div class="header-container">
            <div class="header-container__logo">
                <figure>
                    <img src="/static/img/LogoRayBelleCharm.png" alt="LogoRayBelleCharm">
                </figure>
            </div>

            <div class="header-container__nome">
                <h1>RayBelle Charm</h1>
                <h2>RESGATANDO A SUA BELEZA INTERIOR</h2>
            </div>

            <div class="header-container__menu">
                <nav>
                    <div class="menu-toggle">
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                        <div class="menu-bar"></div>
                    </div>
                    <ul class="header-container__menu__itens">
                        <li><a href="/cadastro">Cadastre-se</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/ouro">Ouro</a></li>
                        <li><a href="/prata">Prata</a></li>
                        <li><a href="/inserirProduto">Inserir Produtos</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
            <script src="/static/raybelle.js"></script>

            <!-- Botão para abrir a modal -->
            <div class="header-container__carrinho">
                <figure onclick="openModal()">
                    <img src="/static/img/carrinho-de-compras.png" alt="icone carrinho de compras">
                </figure>
            </div>
        </div>
    </header>

    <!-- A modal -->
    <div id="myModal" class="modal">

        <!-- Conteúdo da modal -->
        <div class="modal-content">
            <!-- o x que aparece para fechar o modal -->
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Itens no Carrinho</h2>
            <ul id="cartItems">
                <!-- Aqui serão inseridos os itens do carrinho -->
            </ul>
        </div>

    </div>

    
    {% block conteudo %}
    {% endblock %}

    <footer>
        <p>&copy; 2024 RAYBELLE Charm Acessórios Femininos</p>
    </footer>

    <!-- Script para abrir e fechar a modal -->
    <script>

        // Função para abrir o modal e carregar os itens do carrinho
        function openModal() {
            document.getElementById("myModal").style.display = "block";
            
            // Realiza uma requisição/solicitação AJAX para obter os itens do carrinho
            fetch('/api/carrinhoProdutos')

                // Converte a resposta da solicitação para o formato JSON.
                // o .then é um método próprio do jascript
                .then(response => response.json())
                .then(data => {
                    const cartItems = document.getElementById("cartItems");
                    cartItems.innerHTML = ""; // Limpa os itens anteriores do carrinho

                    // Adiciona os novos itens do carrinho
                    data.forEach(item => {
                        const li = document.createElement("li");
                        li.textContent = `${item[0]} - ${item[1]}`;
                        cartItems.appendChild(li);
                    });
                })
                // .catch é um método do javascript , Captura e trata quaisquer erros que possam ocorrer durante a solicitação AJAX, registrando-os no console do navegador para depuração
                .catch(error => {
                    console.error('Erro ao carregar itens do carrinho:', error);
                });
        }
    
        // função para fechar o modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

    </script>

</body>
</html>