<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/ouro.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<section class="produtos-ouro">

    <div class="grid-container__ouro">

        <div class="titulo-ouro">
            <h2> ✧ PRODUTOS OURO ✧</h2>
        </div>

        <div class="card-container__ouro">

            <div class="card-ouro-itens">
                
                <div class="card-ouro">
                    <img src="/static/img/produtos-ouro/bracelete-ouro.jpg" alt="Image 1">
                </div>
                <div class="texto">
                    <h2><!--aqui ficará a descrição do produto--></h2>
                    <h2><!--aqui ficará o preço do produto--></h2>
                </div>
                <button type="submit"> Comprar </button>
                
            </div>
            
        </div>

    </div>
</section>

<section class="depoimentos-ouro">
    <a href="/comentario">Adicionar Comentários</a>
</section>

{% endblock %}