<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/ouro.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<section class="produtos-ouro">
    <div class="grid-container__ouro">
        <div class="titulo-ouro">
            <h2> ✧ PRODUTOS OURO ✧</h2>
        </div>
        <div class="card-container__ouro">
            {% for produto in lista_produtos %}
            <div class="card-ouro-itens">
                <div class="card-ouro">
                    <img src="{{ produto['foto'] }}" alt="{{ produto['descricao'] }}">
                </div>
                <div class="texto">
                    <h2>{{ produto['descricao'] }}</h2>
                    <br>
                    <h2>R$ {{ produto['preco'] }}</h2>
                </div>
                <button type="button" class="comprarBtn" data-foto="{{ produto['foto'] }}" data-descricao="{{ produto['descricao'] }}" data-preco="{{ produto['preco'] }}">Comprar</button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="depoimentos-ouro">
    <a href="/comentario">Adicionar Comentários</a>
</section>

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modalFoto" src="" alt="Imagem do Produto" style="width: 100%; max-height: 300px; object-fit: contain;">
        <h2 id="modalDescricao"></h2>
        <p id="modalPreco"></p>
        <button id="adicionarCarrinho">Adicionar ao Carrinho</button>
    </div>
</div>

{% endblock %}