{% block css %}
<link rel="stylesheet" href="/static/prata.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}
<section class="produtos-prata">

    <div class="grid-container__prata">

        <div class="titulo-prata">
            <h2>✧  PRODUTOS PRATA ✧</h2>
        </div>

        <div class="card-container__prata">

            <div class="card-prata-itens">
                <div class="card-prata">
                    <img src="/static/img/produtos-prata/anel-prata2.jpg" alt="Image 1">
                </div>
                <div class="texto"> Anel com Diamante </div>
                <button type="submit"> Comprar </button>

            </div>

        </div>

    </div>
</section>

<section class="depoimentos-prata">
    <a href="/comentario">Adicionar Comentários</a>
</section>

{% endblock %}