{% block css %}
<link rel="stylesheet" href="/static/prata.css">
{% endblock %}

{% block js %}
<script src="/static/prata.js" defer></script>
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}
<section class="produtos-prata">

    <div class="grid-container__prata">

        <div class="titulo-prata">
            <h2>✧  PRODUTOS PRATA ✧</h2>
        </div>

        <div class="card-container__prata">

            {% for produto in lista_produtos%}
            <div class="card-prata-itens">
                <div class="card-prata">
                    <img src="{{produto['foto']}}" alt="Image 1">
                </div>
                <div class="texto">
                     <h2>{{produto['descricao']}}</h2>
                     <br>
                     <h2> R$ {{produto['preco']}} </h2>
                </div>
                <form action="/sobreProduto">
                    <button type="submit" value="{{produto['descricao']}}" name="saibaMais">Saiba mais</button>
                </form>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

<section class="depoimentos-prata">
    <a href="/comentario">Adicionar Comentários</a>
    {% for comentarios in lista_comentario %}
    <div class="card-comentario">
        <h2>{{ comentarios['avaliacao'] }}</h2>
        <br>
    </div>  
    {% endfor %}  
</section>


{% endblock %}