<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/raybelle.css">
{% endblock %}


{% extends "layout.html" %}
{% block conteudo %}
    

<section class="container-principal">

    <section class="grid-container">

        <div class="titulo-destaque">
            <h2>✧✦✧  PRODUTOS EM DESTAQUE ✧✦✧</h2>
        </div>

        <div class="card-container">
    
        <div class="card ">
            <img src="/static/img/produtos-ouro/anel-ouro.jpg" alt="Image 1">
            <div class="texto">Anel de Ouro cravejado</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-prata/bracelete-prata.jpg" alt="Image 2">
            <div class="texto">Bracelete de Prata</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-ouro/gargantilha-ouro.jpg" alt="Image 1">
            <div class="texto">Gargantilha de Diamantes</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card ">
            <img src="/static/img/produtos-prata/conjunto-prata.jpg" alt="Image 4">
            <div class="texto">Conjunto de Prata </div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-ouro/brinco-ouro.jpg" alt="Image 5">
            <div class="texto">Brinco de Ouro Cravejado</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-ouro/bracelete-ouro2.jpg" alt="Image 6">
            <div class="texto">Bracelete de Ouro </div> <!-- Adicionei a classe "texto" aqui -->
        </div>

        <div class="card">
            <img src="/static/img/produtos-prata/anel-prata2.jpg" alt="Image 7">
            <div class="texto">Anel de Prata e Diamante</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-ouro/conjunto-ouro.jpg" alt="Image 8">
            <div class="texto">Colar de ouro com pingente</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        <div class="card">
            <img src="/static/img/produtos-prata/Brinco-prata.jpg" alt="Image 9">
            <div class="texto">Brinco de Prata</div> <!-- Adicionei a classe "texto" aqui -->
        </div>
    
        </div>
    </section>

    <section class="container-informacoes">
        <div class="newsletter">
            <h6>Newsletter</h6>
            <p>Inscreva-se para receber as novidades</p>

            <form method="post" action="/cadastro">

                <input type="text" id="name" placeholder="Nome Completo">
                <input type="text" id="email" placeholder="Email">
                <button type="submit">Cadastre-se</button>
            </form>
        </div>

        <div class="mais-informacoes">
            <h6>Mais Informações</h6>
            <p> Bem-vindo à RayBelle Charm, onde a beleza encontra a elegância em joias excepcionais. <br> Cada peça conta uma história única, refletindo nossa paixão pela arte da joalheria e compromisso com qualidade e estilo atemporal. <br> Nossas coleções celebram a feminilidade e o individualismo, oferecendo uma experiência de compra memorável. Descubra o encanto intemporal das joias RayBelle Charm e deixe-nos fazer parte da sua história. </p>
        </div>

        <div class="contato">
            <h6> Dados de Contato </h6>
            <p> +55 (11) 98765-4321 </p>
            <p> raybellecharm@gmail.com </p>
            <p> @raybellecharm </p>
        </div>
    </section>
  
  
</section>

   
{% endblock %}